.team{
    display: flex;
    justify-content: space-evenly;
}
.left-cont h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: 2px solid blueviolet;
    font-size: 35px;
}.left-cont p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}
.right-cont{
    display: flex;
}
.right-cont> img{
    width:15vw;
    border-radius: 120px;
    margin-left: 25px;
}