.nav-bar{
    display: flex;
    justify-content: space-around;
    height: 16vh;
}
.nav-bar .logo{
    height: 15vh;
    line-height: 140px;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    width: 38vw;
    line-height: 90px;
}
.nav-links li{
    list-style: none;
}
.nav-links li a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}
