.backgrnd-image{
    background-image:url(city.jpg);
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.conent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conent h2{
     text-transform: uppercase;
     color: white;
     margin-top: 15%;
     font-size: 30px;
}
.conent p{
     text-transform: uppercase;
     color: whitesmoke;
     font-size: 30px;
     margin-top: 2%;
}
.conent a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 9px;
    border-radius: 8px;
    color: white;
    background-color: rgb(190, 69, 190);
    margin-top: 2%;
    transition: all 4s;

}
.conent a:hover{
    background-color: skyblue;
    opacity: .9;
}
